<tr>
  <td class="return-type">
  </td>
  <td class="table-content">
    <div>
          <span>
              <a href="#{{name}}">
                {{name}}
              </a>
            {{> _method_params_declaration}}
          </span>
      <div>
        {{summary}}
      </div>
    </div>
  </td>
</tr>
