<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,300italic,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <!-- <link type="text/css" rel="stylesheet" href="../css/normalize.css"> -->
</head>
</head>
<body>
<header>
</header>
<div class="container">
    <nav class="navigation">
        <h4> Packages </h4>
        <div class="package-list">
            <ul>
                <li>android</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
            </ul>
        </div>
        <h4> Classes </h4>
        <div class="class-list">
            <ul>
                <li>android</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
                <li>android.accessibilityservice</li>
                <li>android.accounts</li>
                <li>android.animation</li>
                <li>android.annotation</li>
            </ul>
        </div>
    </nav>
    <div class="contents">
        <div class="access-type_and_type">
            {{accessLevel}} {{type}}
        </div>
        <h1>{{title}}</h1>
        <div class="overview">
            <h2>Class Overview</h2>
            <hr>
            {{raw-comment}}
        </div>
        <div class="method-summary">
            <h2>Summary</h2>
            <hr>
            <table border="1" cellspacing="0" cellpadding="0" class="summary" data-ice="summary">
                <thead>
                <tr>
                    <td colspan="3">Public Method</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="return-type">
                        <span>int</span>
                    </td>
                    <td class="table-content">
                        <div>
                            <span>addLayer(Drawable dr)</span>
                            <div>Adds a new layer containing the specified drawable to the end of the layer list and
                                returns its index.
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <h2>Public Methods</h2>
            <div class="method-box">
                <h4 class="method-title">public void openPlanDetailAtFirst(Plan plan)</h4>
                <div class="method-detail">
                    <div class="method-detail-summary">
                        チェックポイントのリスト画面に遷移します。
                    </div>
                    <h5>Parameters</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>